@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased font-sans selection:bg-rose-500 selection:text-white;
  }
}

/* Custom Leaflet Popup Styling */
.leaflet-popup-content-wrapper {
  border-radius: 1rem !important;
  padding: 0.25rem !important;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.15), 0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
}

.leaflet-popup-tip {
  background: white !important;
}

/* Smooth custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f8f5f5;
}

::-webkit-scrollbar-thumb {
  background: #c9c1c1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #575757;
}